/*.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.btn-huge{
	padding-top:20px;
	padding-bottom:20px;
}

a.list-group {
	color: white !important;
	background: rgba(54, 25, 25, .2) !important;
	border: 10px !important;
}*/