.md-mode-container {
	height: 100%;
}

.md-mode-container > .SplitPane {
	position: fixed !important;
	width: 100%;
	bottom: 0;
	top: 56px;
	background: white;
	-webkit-box-shadow: 4px 5px 35px 8px rgba(0,0,0,0.63);
	-moz-box-shadow: 4px 5px 35px 8px rgba(0,0,0,0.63);
	box-shadow: 4px 5px 35px 8px rgba(0,0,0,0.63);
}

.toolbar-container {
	margin: 10px;
}

.toolbar-container .btn-default {
	color: #95a5a6;
	font-family: sans-serif;
	font-size: 20px;
}

.main-window-container {
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	background-color: white;
}

.main-window-container textarea {
	border: none;
	border-radius: 0;
	box-shadow: none;
	resize: none;
}

.sidebar-container {
	height: 100%;
	position: absolute;
	width: 100%;
	background-color: white;
}

.res-window-container {
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	background-color: white;
	padding: 0 10px 0 10px;
	overflow: auto;
}

.res-window-container img{
	max-width: 100%;
	height: auto;
}

.source-window-container {
	height: 300px;
	background-color: white;
}

textarea.form-control {
	height: 100% !important;
}

textarea.form-control:focus {
	box-shadow: none;
}

.panes-container {
	position: fixed;
	top: 70px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
}

.panes-container > div > div {
	margin: 0 5px;
}